</div>
<footer>

<section id="contact" class="mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12 white-links">
            <p class="footer-title">VỀ CHÚNG TÔI</p>
            <ul>
                <li>
                    <a href="/pages/about-us">Về chúng tôi</a>
                </li>
                <li>
                    <a href="/pages/contact-us">Liên hệ</a>
                </li>
                <li>
                    <a href="/pages/shipping-policy">Chính sách vận chuyển</a>
                </li>
            </ul>  
        </div>

    <div class="col-md-6 col-sm-12 col-xs-12 white-links mb-2">
        <p class="footer-title">Theo dõi chúng tôi</p>
        <a href="https://www.facebook.com/tokuanishop" target="_blank">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            Facebook
        </a>
          
          <a id="profile-link" target="_blank" href="https://www.instagram.com/tokuanishop/">
           <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>       
    </div>
      
    </div>
  </section>
  
  <section class="bottom-footer">
    <div class="row">
    <div class="col-12 mr-auto">
      TOKUani - Lý Thị Kim Ngân
    </div>
   </div>
  </section>

</footer>
</div>


<script src="/javascripts/main.js"></script>
</body>
</html>
